* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
}

main,
footer {
    background-color: black;
}

.bg {
    background-image: url("assets/bg.png");
    height: 105vh;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-size: max(1200px, 100vw);
}

.box {
    height: 105vh;
    background-color: rgba(0, 0, 0, 0.7);
    /* Black with 70% opacity */
}

.logo {
    width: 50%;
    position: relative;
    z-index: 10;
}


nav {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 15vh;
    width: 80vw;
    background-color: transparent;
}

.lang_but {
    color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: black;
    font-weight: bold;
    font-size: medium;
    border: none;
}

#small_nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.dark {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    border-radius: 4px;
    width: 125px;
    height: 30px;
}

.sign_in {
    background-color: red;
    border: 2px;
    color: white;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 27vh;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 100px auto 0px auto;
    background-color: transparent;
    margin: 130px auto 0px auto;
}

.large_text {
    font-size: 30px;
    font-weight: 900;
    background-color: transparent;
    text-align: center;
    display: inline-block;
    width: 50vw;
}

#A1 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 15px;
    background-color: transparent;
}

.box2 {
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
}

#a {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 95vw;
    text-align: center;
    color: white;
    margin: 0px auto;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
}


.button {
    background-color: red;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 22px;
    cursor: pointer;
}

#b_space {
    width: 350px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #100f0f;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}

.box3 {
    background-color: red;
    height: 5px;
    z-index: 2;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
}

.big-box {
    margin: 0px 150px 0px 130px;
    padding: 0px 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box4 {
    color: white;
    margin-top: 20px;
}

.show {
    display: flex;
    flex-direction: row;
    width: 97.3%;
    position: relative;
    color: white;
    margin: 5px 30px;
}

.box5 {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: visible;
    margin: 16px 0px;
    padding: 10px 0px 10px 25px;
}

.show_but {
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
    width: 214px;
    height: 300px;
}

#transition {
    transition: transform 0.2s ease-in-out;
}

#transition:hover {
    transform: scale(1.05);
}

.show1 {
    width: 214px;
    height: 300px;
    background-color: black;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.show_ani {
    position: absolute;
    background-color: black;
    z-index: 1;
    box-sizing: border-box;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.show_img {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
    border-radius: 8px;
    z-index: 2;
    box-sizing: border-box;
    display: inline-block;
}

.rank {
    display: inline-block;
    position: relative;
    color: black;
    font-weight: 700;
    height: 120px;
    line-height: 1;
    text-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
    font-size: 120px;
    border-color: white;
    top: 170px;
    left: -100px;
    z-index: 2;
    background-color: transparent;
    -webkit-text-stroke: 2px white;
    /* Adds white border with cross browser support*/
}

button>svg {
    background-color: transparent;
}

.box6 {
    margin: 40px 0px 10px 0px;
    padding: 10px 0px;
    color: white;
}

.box7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

}

.reason {
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    width: 22%;
    height: 250px;
    border-radius: 15px;
    color: white;
    padding: 20px 10px;
}

.reason>h3 {
    font-weight: 500;
    line-height: 150%;
    background: transparent;
}

.reason>p {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    line-height: 130%;
    background: transparent;
}

.reason_img {
    bottom: -75px;
    right: -182px;
    background-color: transparent;
    position: relative;
}

#special_img1 {
    bottom: -88px;
    right: -188px;
    background-color: transparent;
    position: relative;
}

#special_img2 {
    bottom: -66px;
    right: -183px;
    background-color: transparent;
    position: relative;
}

.FAQ {
    margin: 40px 0px 0px 0px;
    color: white;
    width: 100%;
    height: 30px;
}

.box8 {
    width: 100%;
    height: 80px;
    background-color: #2d2d2d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 5px 0px;
}

.box8:hover {
    background-color: rgb(68, 67, 67);
    cursor: pointer;
}

.box8 h3 {
    font-weight: 400;
    background-color: transparent;
    font-size: 24px;
}

.box8>img {
    background-color: transparent;
}

#b {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 5px;
}

#foot_but {
    width: 550px;
    height: 52px;
    border-radius: 5px;
    border: 0.5px solid white;
    background-color: #0f0f0f;
    color: white;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 2px;
    font-weight: 400;
    line-height: 24px;
}

#foot_m {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto 80px auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer {
    margin: 0px auto;
    color: rgba(255, 255, 255, 0.7);
    width: 77vw;
    font-size: 16px;
    font-weight: 400;
}

.links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    margin: 40px 0px;
    padding: 10px 0px;
}

.foot {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

footer a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
}

footer a:first-of-type {
    font-size: 16px;
}

#foot_bot {
    margin: 50px 0px;
    font-size: 14px;
}

footer p:nth-of-type(3) {
    font-size: 12px;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {

    .links {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        margin: 40px 0px;
        padding: 10px 0px;
    }

    .foot {
        display: flex;
        flex-direction: column;
        gap: 21px;
        margin-bottom: 21px;
    }

    .large_text {
        font-size: 16px;
        font-weight: 900;
        background-color: transparent;
        text-align: center;
        width: 76vw;
        display: inline-block;
    }

    #A1 {
        font-weight: 500;
        font-size: 10px;
        margin-top: 0px;
        background-color: transparent;
    }

    .box2 {
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin: 52px auto;
        justify-content: center;
        align-items: center;
        gap: 15px;
        background-color: transparent;
    }

    #a {
        display: flex;
        justify-content: center;
        height: 30px;
        width: 70vw;
        text-align: center;
        color: white;
        margin: 0px auto;
        font-size: 20px;
        font-weight: 400;
        background-color: transparent;
    }

    #b {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 145%;
        height: 50px;
        align-items: center;
        color: white;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #foot_m {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px auto 54px auto;
        justify-content: center;
        align-items: flex-start;
        gap: 0px;
        margin-left: 15px;
    }

    .bg {
        background-image: url(bg.png);
        height: 72vh;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        background-size: max(1200px, 100vw);
        width: 137%;
    }

    .box {
        height: 72vh;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .box3 {
        background-color: red;
        height: 5px;
        z-index: 2;
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
        width: 137%;
    }

    nav {
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: space-between;
        height: 15vh;
        width: 100vw;
        background-color: transparent;
    }

    .big-box {
        margin: 0px 30px 0px 30px;
        padding: 0px 0px;
    }

    .box8 {
        width: 132%;
        height: 80px;
        background-color: #2d2d2d;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        margin: 5px 10px 5px 0px;
    }

    .box6 {
        margin: 0px 0px 10px 0px;
        padding: 10px 0px;
        color: white;
    }

    .box7 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        gap: 10px;
        width: 117vw;
    }

    .reason {
        background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
        width: 100%;
        height: 164px;
        border-radius: 15px;
        color: white;
        padding: 20px 10px;
    }

    .reason_img {
        bottom: -18px;
        right: -434px;
        background-color: transparent;
        position: relative;
    }

    #special_img1 {
        bottom: -11px;
        right: -421px;
        background-color: transparent;
        position: relative;
    }

    #special_img2 {
        bottom: -8px;
        right: -425px;
        background-color: transparent;
        position: relative;
    }

    .box5 {
        position: relative;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow-y: visible;
        margin: 16px 0px;
        padding: 10px 0px 0px 19px;
    }

    .FAQ {
        margin: 40px 0px 16px 0px;
        color: white;
        width: 100%;
        height: 30px;
    }

    .show {
        display: flex;
        flex-direction: row;
        width: 186%;
        position: relative;
        color: white;
        margin: -44px 0px 0px 0px;
        justify-content: flex-start;
        transform: translateX(-129px);
        scale: 0.7;
    }

    #foot_but {
        width: 476px;
        height: 52px;
        border-radius: 5px;
        border: 0.5px solid white;
        background-color: #0f0f0f;
        color: white;
        font-size: 16px;
        padding-left: 10px;
        padding-top: 2px;
        font-weight: 400;
        line-height: 24px;
    }

    #d {
        margin-top: 10px;
    }

    .text {
        display: flex;
        flex-direction: column;
        width: 74vw;
        gap: 24px;
        height: 20vh;
        align-items: center;
        justify-content: center;
        color: white;
        margin: 28px auto 0px auto;
        background-color: transparent;
    }

}